@font-face {
  src: url("../fonts/Roboto-Bold.ttf");
  font-family: "Roboto";
  font-weight: bold;
}
@font-face {
  src: url("../fonts/Roboto-Light.ttf");
  font-family: "Roboto";
  font-weight: 200;
}
@font-face {
  src: url("../fonts/Roboto-Medium.ttf");
  font-family: "Roboto";
  font-weight: normal;
}
@font-face {
  src: url("../fonts/Roboto-Thin.ttf");
  font-family: "Roboto";
  font-weight: 100;
}
* {
  font-family: "Roboto";
}